---
const {
  img,
  overtekst1,
  overtekst2,
  overtekst3,
  undertekst2,
  undertekst3,
  tekst,
  btn_tekst,
} = Astro.props;
---

<article class="1">
  <section class="content_1">
    <h2>{overtekst1}</h2>
    <div class="right1">
      <p>{tekst}</p>
    </div>

    <div class="left1">
      <div>
        <img src={img} alt="" />
        <p>{tekst}</p>
      </div>
      <div>
        <img src={img} alt="" />
        <p>{tekst}</p>
      </div>
      <div>
        <img src={img} alt="" />
        <p>{tekst}</p>
      </div>
    </div>
  </section>
</article>

<article class="2">
  <section class="content_2">
    <h2>{overtekst2}</h2>
    <h3>{undertekst2}</h3>
    <div class="right2">
      <p>{tekst}</p>
      <button>{btn_tekst}</button>
    </div>

    <div class="left2">
      <div><img src={img} alt="" /></div>
    </div>
  </section>
</article>

<article class="3">
  <section class="content_3">
    <h2>{overtekst3}</h2>
    <h3>{undertekst3}</h3>
    <div class="right3">
      <p>{tekst}</p>
    </div>

    <div class="left3">
      <div>
        <p>{tekst}</p>
        <button>{btn_tekst}</button>
      </div>
    </div>
  </section>
</article>
